<h1>Battle!</h1>
<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br>
<%= @game.player_2.name %> - HP: <%= @game.player_2.hitpoints %>
<br>
<form action="/attack" method="get">
	<input type="submit" value="attack">
</form>